
  	    <div class="container main login" style="width: 100%; height:auto">
    <!-- Reset Password page template -->

            <h4 class="register-form-title"><%=req.__('text.reset.password_recovery')%></h4>
            <div class="form-group">
              You password is send to your registered email.
            </div>
            <div class="row">
                <div class="form-group">
                  <button type="button" class="btn btn-warning btn-error" type="button" onclick="window.location='<%= basepath%>/index'" ><%=req.__('text.email.go_to_home')%></button>
              </div>
            </div>

  </div>
