openapi: 3.0.1
info:
  title: HL7® FHIR® Location resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
  - url: https://org-env.apigee.net/v1/ghc/stu3
tags:
  - name: Location
paths:
  /Location:
    get:
      tags:
        - Location
      parameters:
        - name: address
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: address-city
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address-country
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address-postalcode
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address-state
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address-use
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: endpoint
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: identifier
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: name
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: operational-status
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: organization
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: partof
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: _format
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
          x-consoleDefault: application/json
      responses:
        "200":
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
`      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write`
    post:
      tags:
        - Location
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/requestBodies/Location'
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write
  /Location/{id}:
    get:
      tags:
        - Location
      parameters:
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        "200":
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Location'
      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write
    put:
      tags:
        - Location
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/requestBodies/Location'
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write
    delete:
      tags:
        - Location
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write
  /Location/{id}/_history:
    get:
      tags:
        - Location
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: _count
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: _since
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write
  /Location/{id}/_history/{vid}:
    get:
      tags:
        - Location
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vid
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Location'
      security:
        - OAuthV2B2B:
            - system/Location.read
            - system/Location.write
components:
  schemas:
    Account_text:
      required:
        - div
        - status
      type: object
      properties:
        status:
          minLength: 1
          type: string
        div:
          minLength: 1
          type: string
    AllergyIntolerance_substance_coding:
      required:
        - code
        - display
        - system
      properties:
        system:
          minLength: 1
          type: string
        code:
          minLength: 1
          type: string
        display:
          minLength: 1
          type: string
    AllergyIntolerance_exposureRoute:
      required:
        - coding
      type: object
      properties:
        coding:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AllergyIntolerance_substance_coding'
    Basic_author:
      required:
        - reference
      type: object
      properties:
        reference:
          minLength: 1
          type: string
    DataElement_identifier:
      required:
        - value
      properties:
        value:
          minLength: 1
          type: string
    HealthcareService_telecom:
      required:
        - system
        - use
        - value
      properties:
        system:
          minLength: 1
          type: string
        value:
          minLength: 1
          type: string
        use:
          minLength: 1
          type: string
    Location_extension:
      required:
        - url
        - valueString
      properties:
        url:
          minLength: 1
          type: string
        valueString:
          minLength: 1
          type: string
    Location_address:
      required:
        - city
        - country
        - line
        - postalCode
        - use
      type: object
      properties:
        use:
          minLength: 1
          type: string
        line:
          type: array
          items:
            properties: {}
        city:
          minLength: 1
          type: string
        postalCode:
          minLength: 1
          type: string
        country:
          minLength: 1
          type: string
    Location_position:
      required:
        - altitude
        - latitude
        - longitude
      type: object
      properties:
        longitude:
          type: number
        latitude:
          type: number
        altitude:
          type: number
    Location:
      required:
        - address
        - description
        - extension
        - id
        - identifier
        - managingOrganization
        - mode
        - name
        - physicalType
        - position
        - resourceType
        - status
        - telecom
        - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          $ref: '#/components/schemas/Account_text'
        extension:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Location_extension'
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DataElement_identifier'
        status:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        description:
          minLength: 1
          type: string
        mode:
          minLength: 1
          type: string
        telecom:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/HealthcareService_telecom'
        address:
          $ref: '#/components/schemas/Location_address'
        physicalType:
          $ref: '#/components/schemas/AllergyIntolerance_exposureRoute'
        position:
          $ref: '#/components/schemas/Location_position'
        managingOrganization:
          $ref: '#/components/schemas/Basic_author'
  requestBodies:
    Location:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Location'
  securitySchemes:
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            system/Location.read: Read permissions for Location demographics.
            system/Location.write: Write permissions for Location demographics.
