# Username of the database
DB_USERNAME=root

# This is the name of the database that you want to take the backup
DB_NAME=db_username

# This is the path to the files directory. The files directory is the public files directory where the files are stored.
# ideally the files directory resides in under web/sites/default/files inside the project root path

FILES_BACKUP_DIR_PATH=./../../web/sites/default/files

# Please enter the absolute path for the login.cnf file
LOGIN_CNF_PATH=./login.cnf
